::selection{ background-color: #E13300; color: white; }
::moz-selection{ background-color: #E13300; color: white; }
::webkit-selection{ background-color: #E13300; color: white; }

body {
	background-color: #fff;
	margin: 40px;
	font: 13px/20px normal Helvetica, Arial, sans-serif;
	color: #4F5155;
}

a {
	color: #003399;
	background-color: transparent;
	font-weight: normal;
}

#title, #main-nav {
	color:#444;
	background-color:transparent;
	border-bottom:1px solid #D0D0D0;
	padding:15px;
}

#main-nav > .navigation > li {
	border-right: 1px solid #333;
	padding-right:5px;
	display: inline-block;
}

#main-nav > .navigation > li:last-child {
	border:0;
}

#right {
	float:right;
	display:inline-block;
}

h1 {
	font-size: 19px;
	font-weight: normal;
	display:inline-block;
	margin:0;
}

h2 {
	font-size:15px;
	font-weight:normal;
	display:inline-block;
	margin:15px;
}

code {
	font-family: Consolas, Monaco, Courier New, Courier, monospace;
	font-size: 12px;
	background-color: #f9f9f9;
	border: 1px solid #D0D0D0;
	color: #002166;
	display: block;
	margin: 14px 0 14px 0;
	padding: 12px 10px 12px 10px;
}

ul {
	padding-left:1em;
}

li {
	list-style-type:none;
}

table {
	width:100%;
}

#body{
	vertical-align:top;
	display:inline-block;
	width:65%;
}

.create-user label {
	display:inline-block;
	width:125px;
}

p.footer{
	text-align: right;
	font-size: 11px;
	border-top: 1px solid #D0D0D0;
	line-height: 32px;
	padding: 0 10px 0 10px;
	margin: 20px 0 0 0;
}

#container, #side-nav, #body, .alert {
	margin:10px;
}

#container, #side-nav{
	border: 1px solid #D0D0D0;
	box-shadow: 0 0 8px #D0D0D0;
}

#side-nav{
	display:inline-block;
	width:30%;
}

#side-nav > header {
	border-bottom:1px solid #D0D0D0;
}

.alert, #show-roster {
	display:none
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance:none;
	margin:0
}

.scoreboard .teams > div {
	display:inline-block;
}

.scoreboard h3, .scoreboard p {
	margin:0;
}